<div class="container">
    <div class="row">
        <h1 class="col-md-5 col-md-offset-0.5">Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers!</strong></h1>
    </div>
</div>
<div class="col-md-3 col-md-offset-9">
    <h5>CopyRight Infratop.inc</h5>
</div>  