<div class="container">
    <% flash.each do |name, msg| %>
      <div class="flash text-success<%= name %>">
        <%= msg.html_safe %>
      </div>
    <% end %>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
            <h5>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</h5>
            <p>you can share and exchange your opinions, inpressions, and emotions<br>about various books!</p>
        </div>
        
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary col-md-5 col-md-offset-3 text-center " %>
            <%= link_to 'Sign up', new_user_registration_path, class: " btn btn-success col-md-5 col-md-offset-3 text-center" %>
    
        <div class="col-md-3 col-md-offset-9">
            <h5>CopyRight Infratop.inc</h5>
        </div>    
    </div>
</div>
